[2014-11-25 04:50] dwlim opened #34 "stuck on uploading"
Occasionally the app will change to the uploading icon and get stuck, forcing me to quit and restart it

[2015-01-11 07:44] comex opened #38 "UI does not present deletion link, and would be nice to have a review prompt"
I've been looking for something to replace Dropbox's crappy auto screenshot uploader.  Found this repository through imgur.com/tools, but it's not quite satisfactory for me as is, so here's two feature requests (for whatever they're worth).

For me at least, it's easy to accidentally include sensitive information in a screenshot, so it's essential for an auto uploader to allow deletion after the f

[2015-01-11 12:48] #38 closed

[2015-01-11 12:50] mileswd commented on #38
Thanks for the feedback - I have implemented both of your requests :)

[2015-01-11 12:53] mileswd commented on #38
If possible, it'd be great if you could try running the project before I push out an update, just to ensure that you're satisfied with how I've implemented your requests.

[2015-01-26 17:00] Tyilo opened #39 "Add support for annotating screenshot before uploading"
This is the main thing keeping me from switching to mac2imgur from [Captured](http://www.capturedapp.com/)

[2015-02-08 14:59] joeynotjoe opened #40 "Add ability to drop file to icon in menubar"
I love this simple app, it's incredibly useful! The only feature I find to be missing is the ability to drop an image file onto the menu bar icon, and have it be uploaded.

Once this is complete, I think it's safe to say this will be the ultimate screenshot app!

Thanks!

[2015-02-15 14:33] mileswd commented on #40
Sorry for the late response, I plan to add this feature very soon.
It will most likely be pushed out as an automatic update over the next week or so :)

[2015-02-15 17:15] joeynotjoe commented on #40
No worries! This is great news. I use your app hundreds of times per day, thanks for the great work!

[2015-02-19 02:32] lysin opened #41 "Not updating?"
I did a fresh install of yosemite and downloaded mac2imgur, but I'm still at version 115. None of your latest commits appear to be there, and I see no option to force an update.

Any suggestions?

[2015-02-19 05:17] BT23 commented on #41
The latest release on here is from October. You have to download the project and compile it in XCode to get the latest version. I just compiled it a few minutes ago. Download it [here](http://www.filedropper.com/mac2imgurapp).

[2015-02-19 10:17] mileswd commented on #41
I was intending to push an update a while, but Apple have released Swift 1.2, so I am updating the project and fixing a few things before I push out the new update. Trust me, it'll be worth the wait! :)

Update ETA is over the next few days.

[2015-02-21 07:43] syabro opened #42 "Ability to upload to custom SFTP"
It'll be great. imgur has been banned some domains I need to post :(

[2015-02-27 01:28] scalp42 commented on #41
Any chance someone could build it please ? @BT23 link doesn't appear to be working for me.

[2015-02-27 04:32] BT23 commented on #41
@scalp42 [Here you go](http://www.filedropper.com/mac2imgurapp).

[2015-02-27 21:30] scalp42 commented on #41
Thanks a lot @BT23 but unfortunately it's not uploading the screenshots automatically for me.

[2015-03-01 15:31] PunKeel commented on #41
@scalp42 Sorry to ask, but do you have XCode installed ? (Not telling you to install it, just asking)

Thanks!

@mileswd It looks like the events are not fired with the `NSPredicate` `kMDItemIsScreenCapture = 1` for people without XCode installed.
I'll look further into it …

[2015-03-03 17:32] pcamp123 commented on #41
It's not auto-uploading the screenshots for me either, I have XCode installed. I'm on 10.10.2, but thinking of going to 10.10.3. I can't get any screenshot utility to work, not Dropbox's upload, or mac2imgur, or anything.
Starting to think Apple broke something with 10.10.2...

[2015-03-03 17:36] PunKeel commented on #41
fyi, Dropbox screenshot's feature worked on the other computer, but installing XCode does not seem to fix the issue.

On some IRC channel, they told me the monitoring object could be zombified. I haven't found exactly how to check it, but I think it's not the issue.

I've even rewrote the monitor thing in a closure, without success (works on my computer, not on the other one)
[code]

[2015-03-03 17:38] pcamp123 commented on #41
What IRC channel? If it's #MacOSX on Freenode, I'm in there right now.. As well as a number of other channels, and would gladly help debug it any way I can..

[2015-03-03 17:39] PunKeel commented on #41
It was on Freenode, channels #mac-dev & #swift-lang (but got no answer on the latter)

[2015-03-03 20:11] mileswd commented on #41
@PunKeel The ```ScreenshotMonitor``` is retained as an object in ```AppDelegate``` and wouldn't be released until application close, I think.

Anyways, I've struggled with replicating this problem consistently - simply put, sometimes screenshots are detected, yet sometimes not.

Although I am not entirely sure, I believe this is actually an OS X problem, which I think is most likely related to som

[2015-03-03 20:13] mileswd commented on #41
@PunKeel By the way, I'd just like to say thanks for the help so far - much appreciated! :)

[2015-03-03 20:17] PunKeel commented on #41
Thanks for the reply

I know, but prefer to test stupid things instead of doing nothing :(

You're welcome (I'm sorry I didn't PR all my changed, I've done some pretty useful things ... [drag&drop, a progress bar ... I'll see to merge them])

Said to my beta tester, I'll come back with the results :dancer:

As for the NSMetadataQuery, I'm not sure about how it works. I've seen (and think it's a go

[2015-03-03 20:19] PunKeel commented on #41
Oh, nice spot @mileswd.
Killing mds and restarting the app makes it work :+1:

[2015-03-03 20:35] mileswd commented on #41
@PunKeel I'm glad that we've been able to pinpoint the issue to something :)

I never explained my choice in using a NSMetadataQuery, but you are exactly right: my reasoning was that it would allow people to change the location screenshots are saved to (and also allow interaction with other custom capturing applications) without having to restart or configure the application. Also at the time, ```

[2015-03-07 16:45] PunKeel commented on #41
For information, to anyone not able to upload, you may open the terminal and run this:
`sudo launchctl list com.apple.metadata.mds PID`
It will return something like `"PID" = 72446;``
Then simply run `sudo kill -9 72446`, it will promp you for your password. And then the mds service will restart, and your screenshots will be uploaded

[2015-03-07 16:59] mileswd commented on #41
I believe ```sudo killall mds``` may be a slightly simpler way of doing this :)

[2015-03-07 17:01] PunKeel commented on #41
Just a little simpler, then. :-)

[2015-03-08 03:16] pcamp123 commented on #41
I've tried all manners of killing MDS, by using killall or by using the PID. I've done both with mac2imgur open or closed, and I've rebooted mac2imgur after doing it when it was open. Still not auto-uploading for me, on 10.10.3.

[2015-03-10 00:12] scalp42 commented on #41
Not working either on 10.9.5 :cry:

[2015-03-12 13:21] AndreasBackx opened #43 "Images not automatically uploading"
Images do not seem to upload for some reason now. It worked great in the past for me, but it suddenly stopped working. I'm on build 115, I tried compiling mac2imgur myself on the latest xCode 6.3 beta but I'm getting a ton of errors. Even after fixing the warnings with the recommended fixes by xCode and archiving it to a .app file it just crashes on launch. After removing the app from my Applicati

[2015-03-12 19:46] PunKeel commented on #43
Duplicate of #41

[2015-03-12 20:50] mileswd commented on #43
@AndreasBackx Exactly as @PunKeel said, unfortunately this is an OS X issue.

I'm currently downloading the latest 10.10.3 seed (released recently) and I'll check whether or not the issue is still present.

[2015-03-12 21:09] AndreasBackx commented on #43
Can you upload a release if it's fixed in a newer version?

[2015-03-12 21:22] mileswd commented on #43
Will do! :smile:

[2015-03-16 23:49] mileswd commented on #43
I haven't noticed any problems on the latest beta 10.10.3 (14D105g) - this issue may have been resolved by Apple :+1:

[2015-03-17 00:05] PunKeel commented on #43
Would be so great! <3

Le mardi 17 mars 2015, Miles <notifications@github.com> a écrit :

[2015-03-17 00:35] AndreasBackx commented on #43
@mileswd You're right. Seems to work on the dev release. Thank you for the heads up!

[2015-03-17 00:35] #43 closed

[2015-03-17 19:50] AndreasBackx opened #44 "Multiple display screenshot support"
Currently when I use the shortcut Shift+Cmd+" it will take a screenshot of every display and quickly upload them one after another. It will then quickly paste the link to the clipboard for every display you have, but it's so quick that you probably can only get one link. It would be cool if the following features could be added:

1. Only upload the display with the active window or where the curso

[2015-03-17 20:48] mileswd commented on #44
Unfortunately, OS X has no API whatsoever that provides any functionality in regards to taking screenshots. Consequently, the only way of detecting screenshots is through monitoring for when files are saved.

This means we cannot control screen capturing, nor collect any information about screenshots (aside from the file information itself, e.g. the file name, file size).

Sadly, as far as I know,

[2015-03-17 20:53] Tyilo commented on #44
Can't you just use `/usr/sbin/screencapture`?

[2015-03-17 21:21] mileswd commented on #44
@Tyilo If I recall correctly, the screenshot keys in OS X are essentially bound to ```/usr/sbin/screencapture``` (with different arguments) - accessing it directly wouldn't make any difference, I think.

[2015-03-17 21:23] Tyilo commented on #44
@mileswd You could make your own keyboard shortcut listener, which either overrides the built-in one or uses a different shortcut. You could then invoke `/usr/sbin/screencapture` and do what you want with the image(s) created, eg. stitch them together.

[2015-03-17 21:46] mileswd commented on #44
@Tyilo I'm not sure how it would be possible to identify whether the screenshots are part of a set (such as three screenshots of three separate screens).

[2015-03-17 21:46] mileswd commented on #44
The simplest solutions I can think of for this issue are:

Press CMD + SHIFT + 4, then click and drag diagonally from one corner of the screen to another, therefore capturing only the current screen.

Click the notifications button on the status bar (top right corner) and ensure you are looking at the "Notifications" tab. You can see the history of recent screenshots here (under "mac2imgur") and c

[2015-03-18 03:01] DeSailor opened #45 "Drag and Drop?"
Any chance we could see a drag and drop feature? (to the menu bar)

[2015-03-18 07:53] mileswd commented on #45
Duplicate of #40

[2015-03-18 08:50] AndreasBackx commented on #44
Perhaps show a notification message asking whether to make an album from the previous images that were taken with less than 2 seconds or so between them?

[2015-03-18 19:15] PunKeel commented on #44
It means waiting two seconds before uploading each screenshot, to see if another one is also taken at the same time.
I'm unsure that it's a good idea, then, two seconds is not that much, but still can't be ignored

[2015-03-18 22:02] AndreasBackx commented on #44
@PunKeel Upload the images as usual and afterwards you can probably make those images an album via the Imgur API and then paste that link to your clipboard.

[2015-03-22 18:06] Rooflessx opened #46 "Mac2Imgur stops working after a while?"
Mac2Imgur doesn't upload images after an amount of time. I have to quit and open the program for it to work again. Can this be looked at?

[2015-03-25 21:42] #40 closed

[2015-03-25 21:42] #45 closed

[2015-03-25 22:47] mileswd commented on #46
Sure, could you possibly give me a little more information?

It'd be handy to know:
- OS X version/build
- Any errors logged by mac2imgur in ```Console.app```
- Any other relevant information

Thanks in advance

[2015-03-27 03:18] AndyBurkeee opened #47 "Resizing?"
Whenever I take a screenshot with mac2imgur, it resizes it and makes it much larger. How can i fix this?

[2015-03-27 22:08] mileswd commented on #47
Could you possibly provide an example of an image that has been resized?

Could you also tell me what version and build of OS X you are running?

Thanks in advance.

[2015-03-27 22:36] AndreasBackx opened #48 "Uploading failed no extra information"
Could the app provide us with some information to why uploading has failed? I can't seem to upload any screenshots atm.

[2015-03-28 00:11] #48 closed

[2015-03-28 00:14] AndreasBackx commented on #48
Thank you for the quick response, could there be a release perhaps?

[2015-03-28 00:33] mileswd commented on #48
Done!

By the way, you can find extra information about any error by checking ```Console.app```

[2015-03-28 00:51] AndreasBackx commented on #48
Thank you very much, auto update popped up and installed successfully!

[2015-03-28 04:23] AndyBurkeee commented on #47
Running Yosemite and here's a screen cap of this comment. Much bigger than it should look.

https://i.imgur.com/HitKyYQ.png

[2015-03-28 09:30] mileswd commented on #47
Here's an extract from an [article](https://cloudup.com/blog/the-retina-screenshot-problem) that explains this problem particularly well:

There are many solutions to create a workaround, here are a two of the simplest options:
- Download a third-party app, such as https://github.com/seandougall/Halver

OR
- Go to System Preferences -> Display -> Click "More Space"

[2015-03-30 14:21] Rooflessx commented on #46
OS X 10.10.2
Errors - haven't checked but will update if I find any.

[2015-04-11 01:12] tpwrules opened #49 "Bell on successful upload"
Hey! For various reasons I've disabled the notification center in OSX so I can't get notifications of when an upload is successful. Other apps I've used play a sound and light up the icon instead of a notification. Could you implement something like this?

[2015-04-11 09:53] mileswd commented on #49
This is the first I've heard of someone manually disabling notification center, unfortunately it's quite an important part of mac2imgur - even the notification sound that plays is handled by the notification center.

I don't know whether you've had a chance to try this application yet, but something very similar is already implemented (#31) - when an image is being uploaded, the icon changes from

[2015-04-11 09:53] #47 closed

[2015-04-11 09:54] mileswd commented on #46
Does this issue still occur on 10.10.3?

[2015-04-11 10:02] mileswd commented on #41
Going to close this issue, as the original request of an update was satisfied 2 weeks ago.

@pcamp123 @scalp42 @PunKeel I no longer experience screenshots not being detected, I think Apple patched the issue in one of the 10.10.3 betas. However if any of you are still experiencing this, there is a separate issue (#46) where we can try and figure out what's happening.

[2015-04-11 10:02] #41 closed

[2015-04-11 10:04] mileswd commented on #39
I currently don't have any plans to implement this as image editing functionality is already available through the imgur website.

[2015-04-11 10:16] mileswd commented on #34
@dwlim @bufordtaylor Does this issue still occur with the latest version of mac2imgur and OS X?

[2015-04-12 05:47] bufordtaylor commented on #34
Nope, all good.

[2015-04-15 10:36] k-bx opened #50 "Option to un-retina screenshots"
I feel uncomfortable doing screenshots when I'm on retina display, since they are "huge". I'd like an option (maybe a default one) to compress retina-screenshots to look like regular ones.

Thank you!

[2015-04-15 12:02] joakin opened #51 "Thank you"
Just wanted to thank you for creating and open sourcing mac2imgur. It is very useful.

Thank you very much :heart: :+1:

[2015-04-18 16:22] vincentriemer opened #52 "Setting to automatically resize images before uploading to imgur."
I recently got one of the new iMac retinas and I've encountered a problem that if I take a fullscreen screenshot of the desktop I encounter the 'image must be less than 10MB' error. There should be a way for mac2imgur to resize the image automatically to meet the 10MB requirement so users don't ever have to see that error message.

[2015-04-18 16:32] mileswd commented on #52
Will do :+1:

(Should also resolve #50 & #47)

[2015-04-18 20:05] mileswd commented on #52
I've just committed the initial implementation of screenshot resizing (019aac2478d8b6c800f6f9cf27a8aa8ec1e24a6b) - unfortunately I have a MacBook Air, which doesn't have a retina display, so I can't test this properly.

Could you give this feature a quick test? Just enable ```Resize screenshots``` in the options menu and it should work :smile:

[2015-04-19 01:45] vincentriemer commented on #52
Do you think you can release a beta build for me to test? I don't currently have the dev environment setup to build it myself.

[2015-04-19 09:56] mileswd commented on #52
Sure, no problem.

You can download it here: https://www.dropbox.com/s/qlkgwkyidl1rm75/mac2imgur-testing.zip?dl=0

[2015-04-19 10:55] mileswd commented on #51
Much appreciated - thanks for the kind feedback! :smile:

[2015-04-19 10:55] #51 closed

[2015-04-19 11:19] mileswd commented on #44
Unfortunately, I think I'm going to have to decline this feature request for now, my reasoning is as follows:
- This request is out of scope when comparing it to the purpose of the application, mac2imgur is not involved in the taking of screenshots, it is simply the middleman that uploads screenshots to imgur: you could use a different screencapture application
- There is no proper/accurate way to

[2015-04-19 11:26] #39 closed

[2015-04-19 11:30] mileswd commented on #50
As per #52, I'm currently working on this - when the feature is complete and tested it will be pushed out as an automatic update.

Thanks for the request :+1:

[2015-04-19 11:30] #50 closed

[2015-04-19 11:33] k-bx commented on #50
Perfect! Thanks

[2015-04-19 17:10] tpwrules commented on #49
I use Growl so I can have more flexibility with the notifications. The arrow works though. I only ask because the app I had to ditch because they went paid played a bell instead of a notification.

[2015-04-19 17:10] #49 closed

[2015-04-20 01:37] vincentriemer commented on #52
Just tested it and I'm still getting the 10MB limit error

![error message](https://i.imgur.com/4TYshVQ.png)

[2015-04-20 02:01] mileswd commented on #52
Hm, could you possibly try this build:

https://www.dropbox.com/s/qlkgwkyidl1rm75/mac2imgur-testing.zip?dl=0

Thanks in advance

[2015-04-20 02:13] vincentriemer commented on #52
That did it!

https://i.imgur.com/YFxPW48.png

[2015-04-20 02:44] mileswd commented on #52
Awesome! I still have a little tidying to do in regards to screenshot resizing, but I hope to push out an update soon(ish).

On an unrelated note: wow - 5k displays are massive!

[2015-04-20 13:53] vincentriemer commented on #52
Yeah it has provided a huge boost to my productivity.

[2015-04-22 20:00] mileswd commented on #52
Just pushed out an update including this - however, the feature is not as thoroughly tested as usual. Feel free to direct any problems to a new issue ticket.

Cheers!

[2015-04-22 20:00] #52 closed

[2015-04-23 20:21] k-bx commented on #52
Perfect! Thank you.

[2015-04-26 00:00] #44 closed

[2015-04-26 00:01] mileswd commented on #34
Closing as the issue appears to have been resolved.

[2015-04-26 00:01] #34 closed

[2015-04-28 05:39] dch commented on #42
How about adding generic HTTP POST/PUT support? e.g. upload to a mongo or couchdb instance.

[2015-04-28 07:16] dch commented on #46
I'm getting this on `10.10.3 (14D136)` myself with `mac2imgur 3.0 (build 153) `. nothing of immediate interest in console.log

[code]

No XCode app installed but the command line tools are present.

[2015-04-28 11:35] mileswd commented on #46
@dch I'm not sure what could be causing this, but I'd love to find out.

What is the output when you run ```defaults read com.apple.screencapture```?

[2015-04-28 11:50] dch commented on #46
[code]

BTW I noticed that cloudapp simply watches the screen dump directory, fwiw.

[2015-04-28 17:29] akre54 opened #53 "Start on login"
Great app. Can you add a preference to open the helper on login? Thanks!

[2015-04-29 10:02] #53 closed

[2015-04-29 10:03] mileswd commented on #53
Thanks for the feature suggestion - I have implemented it and it will be pushed out as an automatic update very soon. :+1:

[2015-04-29 12:58] akre54 commented on #53
Awesome. Thanks for the fast turnaround and great work!

On Wed, Apr 29, 2015, 06:03 Miles <notifications@github.com> wrote:

[2015-05-02 17:07] Skippern opened #54 "Upload from "share" in other apps"
Would be nice to upload to imgur from **share** within other apps, such as ```Finder```, ```Photos```, etc, same way as sharing to facebook or twitter.

[2015-05-02 18:59] prashantvc commented on #54
I was working on something similar on my own, I will pick this up :smile:

[2015-05-02 20:45] mileswd commented on #54
@prashantvc Much appreciated, thank you :+1:

[2015-05-05 19:13] PunKeel commented on #54
Hi, I'd like this feature too!

[2015-05-06 16:30] AndreasBackx commented on #54
I'd love to be able to use this with the Photos app for example, definitely gonna use this!

[2015-05-06 23:50] Skippern commented on #54
This is actually the feature I was looking for when finding, and installing mac2imgur, so you can be sure I will be using it

[2015-05-07 16:13] treblig opened #55 "Doesn't auto-upload after screenshot (Related to Dropbox?)"
When I take a screenshot, it doesn't auto upload. However, it may be related to the fact that my screenshots get auto-uploaded to Dropbox. I changed the default location of my screenshots to ~/Dropbox/Screenshots. Will mac2imgur detect them there?

[2015-05-07 16:56] mileswd commented on #55
Yep, mac2imgur should detect and upload screenshots saved to the folder specified in the ```com.apple.screencapture``` defaults. I don't think any other application would affect this, unless it was moving/deleting the screenshots from the folder.

It may also be worth noting that after making any changes to the screencapture defaults, you have to run ```killall SystemUIServer``` for the changes to

[2015-05-07 22:24] treblig commented on #55
Got it! My path was stored wrong there, and Dropbox had symlinked it. Thanks!

[2015-05-07 22:24] #55 closed

[2015-05-08 07:17] tingao opened #56 "can't sign in the app"
Hey! I used to manually upload a lod of images manually ot img.ur unti yesterday I found you software, it's perfect simple and works!
I'm only having toruble setting it up, I click sign in, open the link but when I hit allow in the img.ur page (after login in my account) the webpage reloads but the app still shows as not logged.
Also I get an error when trying to upload images, sent screenshots wi

[2015-05-08 12:16] mileswd commented on #56
First of all, thank you for the details you have provided - it makes solving problems much easier :+1:

When you click "allow" in Chrome, you should see something like this:
![](https://i.imgur.com/LmSkoE6.png)
If you don't, handler links may have been disabled, so try enabling them using this: https://support.google.com/chrome/answer/1382847?hl=en-GB

If that still doesn't work, try using Safari

[2015-05-08 12:43] tingao commented on #56
wow that was a really fast support! 

I tried thru Safari and it’s working perfectly now, 

Thanks!

—
Henrique Oliveira

On Fri, May 8, 2015 at 9:16 AM, Miles <notifications@github.com> wrote:

[2015-05-08 13:13] mileswd commented on #56
No problem, glad I could help.

[2015-05-08 13:13] #56 closed

[2015-05-17 00:23] danpaulson opened #58 "History"
Would be swell to be able to see the last 5 uploads or so.

[2015-05-17 00:30] mileswd commented on #58
There's already something sort of like this, if you click the notification center icon (top right of your screen) under the notifications tab you can see all recent notifications from mac2imgur. You can click any notifications that contain an Imgur link, which will open the selected image in your browser.

However, if you think this is unsuitable, I'll happily add a menu containing recent uploads

[2015-05-17 13:11] PunKeel commented on #58
Reminds me of something ... :)

[2015-05-17 14:20] mileswd commented on #58
@PunKeel I know where I'd be copying the code from ;)

[2015-05-17 14:29] danpaulson commented on #58
That seems to work, though I think in the end it may still be a decent feature to have if it's easy. I don't use notification center, so I would have never noticed that if I hadn't asked.

My personal best case scenario would be the last 5 displayed on the m2i menus under Select Images, and a option to disable history in Options for those that don't want that (perhaps selected by default if you're

[2015-05-18 12:34] Skippern opened #59 "Link to my profile"
Would be great if I could have a shortcut to my imgur profile from the menu, the same way `Scrobomatic` have to last.fm

[2015-05-18 17:50] mileswd commented on #59
Thanks for the feature request!

I quite like this idea, but could you please clarify which profile page the application should open?

I'm not sure whether you mean:
https://username.imgur.com/all/
or
https://imgur.com/user/username

[2015-05-18 18:25] Skippern commented on #59
I didn't know there where more than one profile

After looking at them, https://username.imgur.com/all/ has what I was thinking about

[2015-05-18 20:12] mileswd commented on #59
Thanks for the quick response.

You will see this in an update soon :)

[2015-05-26 21:44] Allavaz commented on #54
Let's make this happen!

[2015-05-27 13:03] mileswd commented on #59
Added in 5880a2fe4092eaaf0e5197d6b17c898bb489e76d

[2015-05-27 13:03] #59 closed

[2015-05-28 06:54] k-bx opened #60 "Resizing stopped working"
After getting an update yesterday, I just did a screenshot and it uploaded non-resized from my retina screen: https://i.imgur.com/QoKhnix.png

It worked before. "Downsize from retina" option is checked.

[2015-05-28 11:24] mileswd commented on #60
@k-bx Nice catch, I didn't notice this because I don't have a retina display.

Could you possibly test this this development build to ensure that I've fixed the issue?
https://www.dropbox.com/s/zd2dqzee6klh4zm/mac2imgur.zip?dl=1

Thanks in advance :+1:

[2015-05-28 11:28] k-bx commented on #60
@mileswd let's see: https://i.imgur.com/RiACMg5.png

Yeah, seems fixed. Thanks!

[2015-05-28 11:39] #60 closed

[2015-05-28 11:50] mileswd commented on #60
Pushed out as an automatic update.

Thanks for spotting this bug, @k-bx :smile:

[2015-05-28 12:49] k-bx commented on #60
Sweet, thanks!

[2015-05-28 15:31] FezVrasta opened #61 "Support for [CMD ⌘] - [CTRL] - [SHIFT ⇧] - [4] ?"
I'd like to get support for the <kbd>cmd ⌘</kbd> <kbd>ctrl</kbd> <kbd>⇧</kbd> <kbd>4</kbd> shortcut.

It's the shortcut to directly copy the selected part of screen to the clipboard.
In this way I would not have to save them somewhere just to upload them and get them automatically deleted.

I would use the <kbd>cmd ⌘</kbd> <kbd>⇧</kbd> <kbd>4</kbd> when I want just to save the screenshot locally,

[2015-05-28 17:03] mileswd commented on #61
This feature was requested a while back (#27), but unfortunately I couldn't implement it as there is no proper API for detecting changes to the system pasteboard - this means the application would have to poll the system pasteboard many, many times every minute. As you can imagine, this is very inefficient and has a negative effect on battery life. Even if we chose to do this, as far as I know, th

[2015-05-28 17:06] Tyilo commented on #61
As I have suggested before you could call out to `/usr/sbin/screencapture` directly when the shortcut is triggered.

[2015-05-28 17:09] FezVrasta commented on #61
Yup

[2015-05-28 17:24] mileswd commented on #61
@Tyilo I appreciate your suggestion, but that would require either:
- The user manually changing the current global keyboard shortcut for taking screenshots, then manually allowing mac2imgur as an assistive/accessibility device through the security pref pane.
- Manually allowing mac2imgur as an assistive/accessibility device, then binding to a different shortcut, which is non default to OS X

I tr

[2015-05-28 18:31] mileswd commented on #46
@dch Sorry for the late reply. Does this issue still occur?

[2015-05-29 04:51] dch commented on #46
yup, in fact app doesn't work at all for me any more. nothing logged in console.app, nothing uploaded either.

[2015-05-29 05:09] Tyilo commented on #61
@mileswd You don't need to have mac2imgur as an assistive/accessibility device to make a global keyboard shortcut.

For instance you could use https://github.com/shpakovski/MASShortcut or the Carbon API directly.

[2015-05-29 08:11] mileswd commented on #46
@dch Thanks for the feedback. I'm going to work on an alternative monitoring method and I'll keep you posted.

[2015-05-29 16:12] mileswd commented on #61
@Tyilo Thanks, I wasn't aware of that method. However, I'm not sure how long the Carbon API has left as a part of OS X, considering that most of it was deprecated back in 10.8.

[2015-05-29 16:44] mileswd commented on #46
@dch Could you please try this development build?
https://www.dropbox.com/s/zd2dqzee6klh4zm/mac2imgur.zip?dl=1

This build has the screenshot detection code stripped to the bare minimum, so for your safety any detected screenshots will cause an alert popup, but won't actually be uploaded.

[2015-05-29 21:45] FezVrasta commented on #61
You may just say that you don't want to work on this feature and just ask someone to PR it.

[2015-05-30 01:51] Tyilo commented on #61
@mileswd As far as I know it is the only way of registering a global shortcut, so I don't think it'll go away for a couple of years if ever.

[2015-05-30 12:41] mileswd commented on #61
@FezVrasta If there was a clean way of doing this I would add it myself - but unfortunately there isn't.

@Tyilo The reason I initially mentioned accessibility access is because AppKit has
[code]

[2015-05-30 12:49] Tyilo commented on #61
https://github.com/Kentzo/ShortcutRecorder also uses the Carbon API and is also very popular like MASShortcut.

[2015-05-30 12:54] Tyilo commented on #61
https://github.com/davedelong/DDHotKey also uses that API, so I think it's safe to use the Carbon API in mac2imgur or use one of the frameworks.

[2015-05-30 17:23] mileswd commented on #61
@Tyilo Fair enough. Although I'm still not convinced that the Carbon API should be used nowadays, I'll take @FezVrasta's advice. I'd accept a PR with a pure Swift implementation of this feature.

[2015-05-30 20:48] #58 closed

[2015-05-30 20:55] mileswd commented on #58
Added this because apparently many people don't even know notification center even exists and those that do choose not to use it:
http://www.reddit.com/r/mac/comments/37ohw5/does_anyone_even_use_notification_center/

@PunKeel Borrowed some of your code, thanks! :smile:

[2015-05-30 21:23] Tyilo commented on #61
@mileswd I don't think a pure swift version is possible, see http://stackoverflow.com/a/29801216/640584

[2015-05-30 21:49] mileswd commented on #61
@Tyilo Ah, okay. For now, I think the best thing is to hang on until WWDC (in just over a week) as Apple will be announcing their updates to both OS X and Swift, which might affect this issue.

[2015-05-30 23:39] kiliankoe opened #62 "Option to confirm uploading"
Love mac2imgur so far, but it seems a recent update has removed the option to confirm uploads with an alert. Is this change intentional? I'd rather not upload every single screenshot I take.

Otherwise: :+1:

[2015-05-31 09:02] #62 closed

[2015-05-31 09:09] kiliankoe commented on #62
Awesome, thank you!

![](http://i.giphy.com/HJ8NsNtn9VswE.gif)

[2015-05-31 09:34] mileswd commented on #62
`mac2imgur` -> `Preferences` -> `Check for Updates...` :smile:

[2015-05-31 15:00] danpaulson commented on #58
:+1:

Thanks for this, appreciated!

[2015-06-02 10:55] FezVrasta commented on #61
@mileswd could you at least allow us to upload images stored in the clipboard like it happens on the Imgur website?

[2015-06-02 19:36] dch commented on #46
@mileswd sorry just checking back in, `v3.0 (174)` works brilliantly, thanks so much!

[2015-06-06 20:09] mileswd commented on #46
@dch Awesome - glad to hear it.

--

Closing this issue due to no response from @Rooflessx

[2015-06-06 20:09] #46 closed

[2015-06-19 14:15] orditeck commented on #42
That would be awesome. I'm currently using FileShuttle but there is no more development. FileShuttle also allow to upload any file type and it even auto-zip stuffs when you drag multiple files on it! That would be some awesome features to add to mac2imgur, but according to the software name I'm not sure this is planned right?

[2015-07-02 00:22] NathanCJohnson opened #63 "Mac2Imgur sent several "screenshot uploaded" notifications after my Mac restarted for updates"
After my Mac installed updates and restarted, Mac2Imgur sent around 10-15 screenshot notifications at once, I'm not sure if it actually uploaded anything though. I'm on OS X 10.9.5 on a MacBook Air and have Mac2Imgur v3.0 (174).

[2015-07-02 00:54] mileswd commented on #63
Thanks for reporting this - I wasn't sure if anyone else was actually experiencing this.

I actually implemented a safeguard against this issue in 2790c80ff75ab0f674e55efa8ad7fbb8b6cd8328. I'm not quite sure why after some restarts NSMetadataQuery does this, as far as I know it seems to be a bug in OS X.

I have just pushed out an update, including this fix. Just click `Preferences` -> `Check for

[2015-07-02 00:56] Tyilo commented on #61
@mileswd Any new info from WWDC?

[2015-07-02 00:58] mileswd commented on #61
@Tyilo No improved screenshot API, but more Carbon API deprecations - but luckily the shortcut API wasn't one of them!

I'll have some news soon...

[2015-07-02 02:21] NathanCJohnson commented on #63
Awesome! Thanks for the quick response.

[2015-07-02 12:01] iCHAIT commented on #63
Happened a couple of times for me too, I took two screenshots but they did not upload instantly, when I restarted my mac I received the screenshot notification for those. I'll try out the latest version :+1:

[2015-07-10 16:19] sweebee opened #64 "Drag/drop images in El Capitan"
In Mac Os El Capitan i can't drop images on the icon anymore.

[2015-07-10 16:23] mileswd commented on #64
It appears that all NSButtons (even those in open/save panels) do not respond to ` registerForDraggedTypes` in El Capitan. I am unsure whether this is a bug, or an intended behaviour change. I shall investigate a workaround if Apple do not fix this in a later developer preview / beta.

Thanks for the report! :+1:

[2015-07-10 17:05] tommiv opened #65 "Albums support"
Any chance for albums support? Looks like it's [possible](http://api.imgur.com/endpoints/image#image-upload).

[2015-07-10 17:33] mileswd commented on #65
Sounds like a good idea, I'll look into it! :+1:

[2015-07-14 11:24] eriknomitch opened #66 "Press enter on upload confirmation to confirm"
I'd love if "Upload" was selected as the default here and I could just press enter to confirm.  Additionally, (much like the Photoshop save dialog) pressing "c" to cancel would be great.

It's possible that I'd be able to implement.  Thoughts?

Great app by the way.

Erik

[2015-07-14 13:16] #66 closed

[2015-07-14 13:19] mileswd commented on #66
Thanks for the feedback! :+1:

The "Upload" button not being selected was actually a bug, so apologies about that. I have also added the "c" shortcut to cancel, as you suggested.

An update including this should be pushed out soonish!

[2015-07-14 13:52] eriknomitch commented on #66
Excellent!  Thank you for the super quick turnaround.

[2015-07-21 20:38] mileswd commented on #64
This issue appears to be fixed in the latest beta (15A226f) - simply update and this should be fixed! :)

[2015-07-21 20:38] #64 closed

[2015-07-22 18:31] Rooflessx opened #67 "Unable to authenticate with Imgur"
Im getting an error saying
"Screen shot failed to upload
Unable to authenticate with Imgur"

[2015-07-22 18:35] mileswd commented on #67
Imgur is currently experiencing problems: https://twitter.com/imgur/status/623918163474800641

[2015-07-22 19:21] mileswd commented on #67
Imgur have resolved the issue: https://twitter.com/imgur/status/623933084833071104

[2015-07-22 19:21] #67 closed

[2015-07-23 12:12] #63 closed

[2015-07-24 01:17] AndreasBackx opened #68 "Logging in doesn't work on OSX 10.11 Developer Beta 4"
This is on OSX 10.11 Beta (15A226f). In Safari it just doesn't do anything but refresh the page when you press 'Allow' on the oauth page of Imgur. On Google Chrome it asks if you want to use mac2imgur for to open the redirect link but then doesn't do anything.

[2015-07-24 01:19] mileswd commented on #68
Currently investigating a work around, the new `App Transport Security` functionality in 10.11 doesn't seem to like Imgur's SSL setup...

[2015-07-24 01:20] AndreasBackx commented on #68
Yes, trying to upload a screenshot shows the SSL error notification. Could you upload a new release too when it is fixed?

[2015-07-24 01:21] mileswd commented on #68
Will do! :+1:

[2015-07-24 02:35] mileswd commented on #68
296120678f924dbc87ad7ea87a1677eb56ecb2ae:
- Added a temporary exception to not require forward secrecy for SSL
- Rewritten error handling so that any errors during authentication with Imgur are shown to the user

However, I'm going to keep this issue open until the temporary exception is no longer required.

`Preferences` -> `Check for Updates...` and you're good to go!

[2015-07-24 12:39] AndreasBackx commented on #68
Awesomeception!

![Lol](https://i.imgur.com/hGqaCBH.png)

[2015-07-24 20:07] Aeonofgods opened #69 "Drag and Drop does not work"
Hey i just downloaded this today! The screenshot upload works fine as does the manual "upload images" button. However dragging a picture to the menu bar icon does not do anything. Suggestions?

I am on a 2013 rMBP 13' on El Capitan public beta 2. Thanks!

[2015-07-24 20:16] mileswd commented on #69
Duplicate of #64

This issue appears to be fixed in the 4th developer preview `15A226f` but not in the 2nd public beta `15A225f`.

I imagine that this will be fixed in the next public beta (in less than two weeks time).

Unfortunately this is one of the downsides of testing pre-release software! :smile:

[2015-07-24 20:17] Aeonofgods commented on #69
I totally understand and I can wait. Thanks for the quick response!

[2015-07-24 20:23] #69 closed

[2015-08-01 23:37] rauix opened #70 "."

[2015-08-01 23:40] #70 closed

[2015-08-01 23:41] mileswd opened #71 "New app name"
I am considering publishing mac2imgur on the Mac App Store, but I want to avoid any trademark/naming disputes - consequently, a name **not** including "imgur" would be necessary.

I'm not particularly good when it comes to naming things, so feel free to post any suggestions.

[2015-08-01 23:46] reanimus commented on #71
Screengrabbur? If you wanted to be cheeky, you could call it Imager. :full_moon_with_face:

[2015-08-01 23:49] reanimus commented on #71
After all, there's img.urls already in the app store, and that one comes pretty close to the imgur name.

[2015-08-01 23:52] mileswd commented on #71
Very true - I should add that changing the name would also provide the option of supporting alternate upload destinations...

Thanks for the suggestion though!

[2015-08-04 22:33] PunKeel commented on #71
ScreamShot \o/

[2015-08-11 17:20] Rooflessx opened #72 "'Invalid Refresh Token'"
I keep getting the error 'Invalid Refresh Token'

[2015-08-11 17:46] mileswd commented on #72
Signing out and then signing back in *should* fix this.

[2015-08-21 16:13] blimmer opened #73 "it gives me rainbow wheel all day"
Anytime I click the mac2imgur menu bar icon, it gives the the beach ball. Happy to help diagnose.

[2015-08-21 16:14] mileswd commented on #73
May I ask what version and build of both OS X and mac2imgur you are running?

Thanks in advance

[2015-08-21 16:19] blimmer commented on #73
Of course. OS X 10.10.5, mac2imgur version 3.0 (183).

[2015-08-21 16:22] mileswd commented on #73
You're up to date - awesome. :+1:

Can you take a look in `Console.app` and see if the application is spitting out any error messages?

[2015-08-21 16:29] blimmer commented on #73
Unfortunately, I'm not seeing anything. I'll keep an eye on it with a filter.

[2015-08-21 17:03] mileswd commented on #73
A few things to try first:
- Try deleting the stored preferences by running `defaults delete com.mileswd.mac2imgur`
- Make sure mac2imgur isn't in your login items

If neither of those changes anything, try to do this:

1. Open mac2imgur, and click the menu bar item (causing it to beachball/hang)
2. Run `sudo kill -SEGV $(ps -A | grep -m1 mac2imgur | awk '{print $1}')` in `Terminal.app` (this will

[2015-08-21 20:48] blimmer commented on #73
Interestingly, it seems like this might be related to login items. When I visited the System Preferences login items pane, everything froze up. There were several apps I've deleted in there marked as "Unknown". After removing those, things seem to be moving along much quicker. I'm not getting the beach ball anymore. Seems like this is an OS level problem with login items vs. a problem with your ap

[2015-08-21 20:48] #73 closed

[2015-08-21 22:15] mileswd commented on #73
That could be it! Thanks for the report anyway - maybe I need to go over the login items implementation some time, just to be sure. :+1:

[2015-08-24 18:02] mileswd commented on #72
Fixed in 843dbfd9e73c16006bb3623e14ac6152520c87e8

[2015-08-24 18:02] #72 closed

[2015-08-25 11:15] MaartenStaa opened #74 "Support for dropping images (not files)"
It would be nice if I could drag images from e.g. the Photos app, or from Chrome, and drop them on the status bar icon, rather than having to save it to disk first, and then dragging the file to it.

[2015-08-25 16:08] lfaoro commented on #74
:+1:

[2015-08-26 15:46] Tyilo commented on #61
Any news?

[2015-08-26 23:44] mileswd commented on #61
@Tyilo Sorry for not updating you sooner, I've been pretty busy and haven't had time to finish off the work I started - it includes the following:
- Rename app (to avoid any legal issues)
- Switch from monitoring for screenshots to using `screencapture` directly
- Customisable shortcuts
- Full UI redesign (includes new screenshot browser and preferences)

[2015-08-27 01:05] Tyilo commented on #61
Sounds cool ;)

[2015-08-29 01:04] ObjectiveTruth opened #75 "[idea] Being able to markup files before uploading"
I use this awesome tool to share portions of the screen when I'm doing group work and It'd be great to be able to add an arrow or some text before sending it to imgur. Probably too much to ask but hey, idea is an idea.

[2015-08-29 01:18] mileswd commented on #75
![](https://i.imgur.com/nk3DR2c.png)

[2015-08-29 01:53] ObjectiveTruth commented on #75
lol, thanks.. i think? :smile_cat:

[2015-08-29 01:54] mileswd commented on #75
As per the screenshot, I have something that does exactly what you said in the works - hopefully it'll make it into a release soon enough! :smile:

[2015-08-29 02:03] ObjectiveTruth commented on #75
OMG nice! i wasn't sure if you were joking or not, haha

I started googling around for something that does this and its an untapped space AFAI can tell.

There are apps that annotate and apps that screenshot but none that do both and if they do both they usually have a catch.

[Skitch](https://evernote.com/skitch/) is the most popular but only works with Evernote

Anyways IMO even if you charge fo

[2015-08-30 00:06] Tyilo commented on #75
:+1:

[2015-09-08 02:00] azamatms opened #77 "[idea] Clear clipboard right after screenshot is taken"
Essentially once you drag the selection and let go, the app would clear your clipboard so when you go to paste the link somewhere you won't accidentally send someone whatever was previously on your clipboard.

Let me know if this makes sense, would be a nice additional feature that could be toggled in Preferences.

[2015-09-08 09:09] Tyilo commented on #77
:+1:

[2015-09-09 23:35] lfaoro commented on #77
Flow:
- Screenshot
- Upload to imgur
- Copy imgur link to Pasteboard
- Link available in Pasteboard
- Once the link is pasted the Pasteboard gets cleared

I don't know how you could achieve this programmatically...
You can't get notified when the user uses the pasteboard

I guess the only way is having an NSTimer checking the pasteboard for content after 1 minute.
If the content of the Pasteboard

[2015-09-10 06:50] Tyilo commented on #77
No the flow would be:

   - Screenshot
   - Clear the Pasteboard
   - Upload to imgur
   - Copy imgur link to Pasteboard
   - Link available in Pasteboard

On Thursday, September 10, 2015, Leonard <notifications@github.com> wrote:

--
Asger Hautop Drewsen

[2015-09-10 07:01] iCHAIT commented on #77
:+1:

[2015-09-10 20:15] azamatms commented on #77
Thanks @Tyilo

He described it pretty well, could help avoid some embarrassing situations in IRC or Instant Messaging.

[2015-09-14 12:53] lindskogen commented on #65
What would be the use case? I guess it would make sense when you drop multiple images on the menu bar icon... Maybe something like - when you quickly grab multiple screenshots in succession?

[2015-09-14 12:55] lindskogen commented on #42
Since the whole idea of this app is to upload to imgur I would recommend you to look elsewhere?

[2015-09-14 12:58] tommiv commented on #65
One possible use case is to store your screenshots in private album, while your imgur profile is public (it's possible to capture sensitive information accidentally); the second one is just organisation matter – put fun pics in fun pics album, put your tomorrow presentation slides in album "tomorrow-presentation-slides" and store screenshots where it belongs – in album "screenshots".

[2015-09-15 11:42] PunKeel commented on #42
I started developing @Screamshot to handle this, based on mac2imgur's code, and I think the code is still working ... But hadn't time to manage it properly (No build available, for instance)

[2015-10-22 11:40] alexanderad opened #78 "Ability to set image retention period"
I caught myself deleting manually screenshots uploaded to imgur for the second time. I'm basically removing images older than, say, 1 month.

I though this can be an enhancement to be able to set retention period of images (which defaults to infinite) and remove them accordingly.

What would you say?

Thanks.

[2015-10-22 14:08] mileswd commented on #77
This makes a lot of sense - great idea!

Added in 39dfb192bd9d3a5ad470d1caf090af21f7e08b21, expect an update to be pushed soonish :smile:

[2015-10-22 14:08] #77 closed

[2015-10-29 20:10] dggreenbaum commented on #71
Uploadgur?

[2015-11-05 00:44] vicngtor opened #79 "Uploading slow?"
First of all, thank you for making this plugin. I have been using Dropbox's screenshot tool for a while now and it sucks because the url generated is some dropbox page which doesn't share well on messenger as they are not type:jpeg/png

I do notice your tool takes significantly longer from taking a screenshot to finished uploading and having the link in my clipboard. Is this something that can be

[2015-11-05 23:50] angadmishra commented on #71
Dropur, perhaps?

[2015-11-17 21:18] diversario commented on #71
Upshot
Poster
Imageman
Up
Link

[2015-11-17 21:28] diversario opened #80 "Doesn't upload screenshots automatically"
As discussed here https://twitter.com/diversario/status/666315414142590976 mac2imgur doesn't do anything upon taking a screenshot.

Console.app has no messages from the app except

[code]

I tried it with `com.apple.screencapture` not even existing; also tried setting location explicitly to an existing folder – images were saved there but still no action from mac2imgur.

I'm running OS X 10.11.1,

[2015-11-17 23:04] mileswd commented on #80
Sorry I didn't get back to you sooner!

I've written a test application which will print a fair amount of debugging stuff, which should hopefully help solve the problem.

Open it, try taking a screenshot and post what comes up! :smile:

http://expirebox.com/download/d1940478d498a829d8f22a46e5dc6e8e.html

[2015-11-17 23:30] diversario commented on #80
I did but nothing showed up in the window!

[2015-11-17 23:31] mileswd commented on #80
Was anything displayed, whatsoever?

[2015-11-17 23:44] diversario commented on #80
Just the name of the app.

[2015-11-19 15:57] b005t3r commented on #80
Same problem here. I'm still on Yosemite (10.10.5), so I can't even start your debugging app (it requires the next OS X).

[2015-11-19 21:53] mileswd commented on #80
@b005t3r Thanks for the info! If possible, try some of the debugging steps from the Twitter exchange that @diversario posted above.

I'll look into this properly ASAP! :smile:

[2015-11-26 16:17] iCHAIT commented on #77
@mileswd
Has this been pushed in any of the updates?
Just suffered sort of an embarrassing situation on a chat  :(

[2015-11-26 16:20] mileswd commented on #77
@iCHAIT Yep! You can turn it on from the preferences menu :smile:
![](https://i.imgur.com/Sd9kNGt.png)

[2015-11-26 16:21] iCHAIT commented on #77
Damn, should have done this earlier itself.

Thanks :)

[2015-12-02 18:21] kblanks commented on #80
I have this same issue and screenshot uploading does not work until I quit and re-open the app. Version 3.0 (185)

[2015-12-02 21:53] mileswd commented on #79
Sorry for not getting back to you sooner on this one.

I haven't used Dropbox in a while, but if I recall correctly, Dropbox cheats a little to make this feel faster: I believe a URL is generated as soon as the screenshot is taken - even if the file itself hasn't finished uploading to Dropbox yet.

Unfortunately something like this could not be implemented as the Imgur API requires the file to be

[2015-12-02 21:59] msafi commented on #80
Upload doesn't start automatically for me either. I'm on El Capitan. Dragging & dropping the image on the menu bar icon causes the image to upload, but even though "Delete on upload" is checked, it doesn't delete after upload completes.

[2015-12-02 21:59] mileswd commented on #80
I've just finished writing an initial implementation of a FSEvents based screenshot monitor (as opposed to the previous method using NSMetadataQuery). Hopefully this will resolve this issue and also provide a slight speed boost!

It'd be great if you could test this development build, which is a compiled version of 449b370d0cfb477693a971be49d436bc96bfb038:

http://expirebox.com/download/d4f79eb622

[2015-12-02 22:01] msafi commented on #80
Hey! This works and it's fast!!

[2015-12-02 22:03] diversario commented on #80
Hell yeah, it works! :+1: :100: :cake: :tada: :shipit:

[2015-12-02 22:03] kblanks commented on #80
Working great! :+1:

[2015-12-03 03:00] PunKeel commented on #80
This means we won't be able to change the storage path ... isn't it ? ;)

[2015-12-03 03:45] diversario commented on #80
Mine's actually changed and it still works.

[2015-12-03 03:46] PunKeel commented on #80
But if you change it while mac2imgur is running, it won't consider the change (I assume)

[2015-12-03 04:09] diversario commented on #80
Oh. Well, not sure about that but restarting it is as easy as it could be.

[2015-12-03 17:41] mileswd commented on #80
@PunKeel Yep, restarting mac2imgur would be required. Hopefully this isn't too much of an issue?

[2015-12-03 19:30] PunKeel commented on #80
Not an issue, but should be written somewhere so that it doesn't become a recurring question ;)

[2015-12-03 20:51] mileswd commented on #80
@PunKeel Good call :+1:

Just pushed this out as an update - thanks for testing! :smile:

[2015-12-03 20:51] #80 closed

[2015-12-03 20:52] mileswd commented on #79
#80 has been pushed as an automatic update.

[2015-12-03 20:52] #79 closed

[2015-12-04 16:47] soli opened #81 "Hide Menubar icon"
Hi, first thanks for this nice app that I only discovered today but already find very useful.

The only thing that I'd like to see improve is the fact that for people like me that:

- have a small screen (MBA) ;
- do not use the menubar icon to drop images to upload, but only the automatic "standard screenshot" -> imgur workflow.

an option not to have the menubar icon at all would be great!

P.S.

[2015-12-17 16:06] josereyes opened #82 "Downscaling from retina doesn't downscale"
It seems like the retina downscaling issue is back.

**Non-Downscaled:**
![Regular](https://i.imgur.com/GsJysVA.png "regular")

**Downscaled:**
![Downscaled](https://i.imgur.com/FNIeFIY.png "downscaled")

[2015-12-17 16:24] mileswd commented on #82
How strange - I haven't touched the screenshot downscaling code since October! :confused:

Looking at the images you posted above - it looks like you didn't upload them from mac2imgur itself(?)

If so, this could explain the issue as the original saved screenshot file is left intact (it is not modified whatsoever) whereas the downscaled version is only temporarily kept in memory until it is upload

[2015-12-17 16:55] josereyes commented on #82
@mileswd hmm this is the imgur url that mac2imgur generated. I didn't obtain the url from imgur or elsewhere.

here are a couple other examples that might help:

**Example 1:**
![example 1](https://i.imgur.com/GRPxUSB.png "example 1")

**Example 2:**
![example 2](https://i.imgur.com/ZCCNmlv.png "example 2")

[2015-12-17 17:10] mileswd commented on #82
Hm, strange - the new examples you just posted are both appear to be non-retina...

Could you tell me which version of both OS X and mac2imgur you are using?

Also, it'd be great if you could take a look in Console.app to see if mac2imgur is throwing any errors.

Thanks! :)

[2015-12-18 23:54] #82 closed

[2015-12-18 23:54] josereyes commented on #82
this was my fault, sorry to bug you @mileswd

[2015-12-20 10:40] mileswd commented on #82
No worries! :smile:

[2016-01-08 00:50] Allavaz opened #83 "Dragging a picture from a stack folder to the status bar icon doesn't work"
It shows the plus icon when I'm about to drop it on the status bar icon but still doesn't upload the picture.

[2016-01-28 22:20] growlsworth commented on #65
I think a major use case is to keep all screenshots in a "screenshots" album so it's easy to mass delete old screenshots.

[2016-01-31 21:52] agodlydeciple opened #84 "app not finding new screenshots"
When taking a screenshot - the app fails to find it and automatically upload it.

[2016-01-31 21:56] agodlydeciple commented on #84
I had changed the com.apple.screenshot variable after I had already started mac2imgur.  Once I restarted the application the correct location was loaded and the app found the screenshot.

[2016-01-31 21:56] #84 closed

[2016-02-08 23:51] vicngtor opened #85 "Upload fails if location of screenshot folder changes?"
I just realized that changing the location of the screenshot location via `defaults write com.apple.screencapture location ~/my-new-screenshot-location` causes mac2imgur to fail.

Can someone confirm this?

[2016-02-09 00:02] PunKeel commented on #85
I confirm :( https://github.com/mileswd/mac2imgur/issues/80#issuecomment-161501895

[2016-02-12 22:02] vicngtor commented on #85
With reference to the line,
[code]

This is my terminal output:
[code]

I don't quite understand why this is not working. Any ideas?

[2016-02-12 22:20] PunKeel commented on #85
The `defaults` is read on startup, if you change it mac2imgur will still be watching the former location

[2016-03-02 08:11] surajsharma opened #86 "Screenshot Upload not working"
on 10.11.3 / mac2imgur latest version, nothing happens when i take a screenshot, ignore new screenshots is unchecked and i've tried everything. please help.

[2016-03-09 22:03] ownmas opened #87 "StatusBar Icon Freeze when touch her"
OS X 10.11.3

After that mac is think about 10 sec and icon unfreeze
![img_1357](https://cloud.githubusercontent.com/assets/10982852/13652191/da460998-e65b-11e5-83a0-5c9280441841.JPG)

[2016-03-09 22:13] ownmas opened #88 "Add button in notification with name "Copy link""
Sometimes i don't need to copy screenshot URL right now, please, create in settings switch, which add "Copy link" button to notification :+1:

And create in settings the notify retention time value.

[2016-03-15 12:26] ownmas commented on #87
I understand, that mac2imgur conflict with Google Drive, he freeze like that. But how to fix it i don't know,

[2016-04-05 04:07] sama7 opened #89 "Doesn't delete after upload or even allow it manually"
Title summarizes the issue. I have "Delete After Upload" checked in my preferences but the files don't actually delete. Even trying to manually delete them fails (see [here](https://i.imgur.com/qBSDWGV.jpg)). Anyone else having this problem, and any suggestions?

I'm running El Capitan 10.11.3.

[2016-04-25 14:25] danpaulson commented on #74
👍

[2016-05-04 16:26] olessavluk commented on #89
It looks like an OS X bug. Try to reboot your system or you can just relaunch Finder.app.

[2016-05-05 07:55] Jarvvski opened #90 "Preference option to stop notifications"
I prefer to keep notifications only for specific applications. I've manually stopped mac2imgur from displaying them from Sys Prefs -> notifications, however I feel it would be a valid feature to implement within a future release.

[2016-05-06 01:34] sama7 commented on #89
Thanks @olessavluk, relaunching Finder works.

[2016-05-06 01:34] #89 closed

[2016-05-17 18:25] Modi34 opened #91 "Is there any apple script or shell script support?"
I want to use hazzel to upload new gifs created with another app to imgur using mac2imgur app

but Im not sure how to do it//

[2016-05-17 18:48] Modi34 commented on #91
I tried
tell application "/Applications/main/mac2imgur.app" to open "/Users/modi34/Desktop/1.gif"
but It returned an alert with error

[2016-06-28 08:05] kalfheim commented on #81
👍

[2016-06-29 19:40] invious opened #92 "Port to Swift 3"
I am just learning OS X and want to concentrate on Swift 3; I am having trouble porting your code by hand, since I am not quite yet experienced with Swift 2, or 3. Could you please port it if it's not too much trouble?

[2016-07-07 12:03] joelworsham commented on #65
I absolutely would love to see this. I don't like that my imgur account is cluttered with screenshots. I also don't like that they're public by default.

[2016-07-11 13:27] alexbooker commented on #81
I would very much like this too

[2016-07-19 20:54] mileswd commented on #92
Done (5c190f9bc677e8bc2391e4facd34c39277e2d08c) 👍

[2016-07-19 20:54] #92 closed

[2016-07-19 20:55] mileswd commented on #65
Done - will be available as an automatic update soon… :smile:

[2016-07-19 20:55] #65 closed

[2016-07-19 21:12] mileswd commented on #68
Temporary exception is no longer required, closing issue.

[2016-07-19 21:12] #68 closed

[2016-07-19 21:17] mileswd commented on #83
Unfortunately this is not a bug in mac2imgur, but appears to be a longstanding bug in macOS itself - http://openradar.appspot.com/radar?id=1745403

I understand that this is a minor annoyance, but you can always work around this bug by using the "Upload Images…" option or dragging the file(s) from Finder.

[2016-07-19 21:17] #83 closed

[2016-07-19 22:27] #91 closed

[2016-07-19 22:29] mileswd commented on #91
Done 👍

You can now open files with mac2imgur - this feature will be available in an automatic soon.

[2016-07-20 15:36] mileswd commented on #88
Both of your suggestions have been implemented and will be available in an automatic update soon. 👍

However, instead of adding a button to the notification, a submenu has been added to the `Recent Uploads…` menu, as below:

![](https://i.imgur.com/o60pCC9.png)

[2016-07-20 15:36] #88 closed

[2016-07-20 17:59] mileswd commented on #74
This feature has been implemented for provided pasteboard images (`NSTIFFPboardType`) meaning dragging and dropping images from most applications will work, however receiving promised files (`NSFilesPromisePboardType`) has not been implemented - consequently drag operations from a few applications such as `Photos.app` is not possible. At the moment, I'm not sure if (or when) I'll add support for p

[2016-07-20 17:59] #74 closed

[2016-07-21 19:56] mileswd commented on #85
This is correct. To change the screenshot location, unfortunately the application must be restarted.

I'll add a note in the README to make this behaviour clearer 👍

[2016-07-21 19:58] #85 closed

[2016-08-02 20:14] mileswd commented on #87
Resolved in the latest update :+1:

[2016-08-02 20:14] #87 closed

[2016-08-02 20:23] mileswd commented on #42
Unfortunately I think this is out of scope for mac2imgur. The application itself is heavily integrated with Imgur itself and supporting any other upload destination would not only require restructuring, but it detracts from the primary purpose of the application.

Sorry! 😢

[2016-08-02 20:23] #42 closed

[2016-08-02 20:52] mileswd commented on #61
Agreed, Carbon API or one of those frameworks would be fine 👍

However, after reviewing this issue, I do not currently have any plans on implementing this, unfortunately. I'd prefer to leave the actual capturing of screenshots to the system itself, as the primary purpose of mac2imgur has always been just to upload screenshots and other images.

Apologies.

[2016-08-02 20:52] #61 closed

[2016-08-02 21:38] FezVrasta commented on #61
Then you could at least allow us to upload pictures from the clipboard..

[2016-08-02 21:43] mileswd commented on #61
Sure thing! I'll look into it :+1:

[2016-08-02 22:11] VeryInsane opened #93 "App crashes almost instantly"
My exact steps:

- Downloaded the latest version from main GitHub page
- Moved to Applications
- Opened it
- I was prompted to install the newest version, I did
- It opened again and I setup my Imgur account
- I took 2 screenshots, the app was working, I clicked the notification toast and opened my uploaded images
- The app crashes
- I open the app again, it crashes

I can't get it to stay open fo

[2016-08-02 22:33] mileswd commented on #93
Thanks for the report!

So far, I've found and fixed one of the crash bugs (when you hover over Recent Uploads).

Could you possibly paste the contents of the crash reports from `Console.app`?

Thanks in advance :+1:

[2016-08-02 23:16] kenzierocks commented on #93
On Yosemite 10.10.5, just updated, crashes immediately. This is in `Console.app`'s messages:
<img width="1195" alt="screen shot 2016-08-02 at 4 15 11 pm" src="https://cloud.githubusercontent.com/assets/2093023/17348634/6d924436-58cc-11e6-8fad-c812b992b171.png">

[2016-08-02 23:23] VeryInsane commented on #93
Here you go:

![screen shot 2016-08-02 at 7 22 09 pm](https://cloud.githubusercontent.com/assets/5018400/17348756/9775a238-58e6-11e6-8ff1-3f15bfe6401e.png)

https://pastebin.com/QKkDiWJa

[2016-08-02 23:48] mileswd commented on #93
Thanks for the crash reports 👍

I'm going to pull the update for now and investigate further tomorrow - unfortunately I haven't been able to replicate this issue on either macOS 10.12 or macOS 10.11 so far.

[2016-08-02 23:52] VeryInsane opened #94 "[Request] Open after upload / Disable notification toast"
I think a nice feature would be to open the link directly in your browser after uploading.

In addition, since the image does open directly, you would want to disable the notification toast that shows up.

If these two options would be added that would be perfect for me and I'm sure others would appreciate it.

[2016-08-02 23:53] VeryInsane commented on #93
I managed to update to 4.0 (205) and I haven't noticed a crash yet.

[2016-08-03 12:09] kristinaD commented on #86
Hi,
Seems like issue persists again.
When I take a screenshot it is not uploaded in browser I have issue "An unknown error occurred"

[2016-08-03 17:55] mileswd commented on #93
Released another update patching a bug when opening the "Upload to Album" menu, which occurs when there is an album that has no title.

Didn't spot this one sooner as our underlying Imgur library (`ImgurSession`) is not audited for nullability.

Thanks for your assistance!

[2016-08-03 17:55] #93 closed

[2016-08-06 16:49] mileswd commented on #86
Thanks for the report.

It would be great if you could update to the latest version of mac2imgur, and if the issue is still occurring, check `Console.app` to see if mac2imgur is logging any specific errors.

[2016-08-08 07:59] AleksandarMicovic commented on #86
Hey @mileswd, a 429 is being returned upon every upload request. I have the same issue as @kristinaD. More specifically:

`Imgur Upload Failed: Error Domain=com.geoffmacdonald.imgursession Code=429 "(null)"`

[2016-08-08 08:00] kristinaD commented on #86
@mileswd I already have latest version
Thanks @AleksandarMicovic

[2016-08-08 08:26] surajsharma commented on #86
Hey @mileswd thanks for returning to this project. Unfortunately the problem of the undetected screenshot persists for my mid 2010 MBP running 10.11.6 and there is nothing in console.app which i would consider relevant but can send you a dump of you insist.

Suraj

On 8 Aug 2016, 13:29, at 13:29, "Aleksandar Mićović" <notifications@github.com> wrote:

[2016-08-08 10:07] mileswd commented on #86
@AleksandarMicovic @kristinaD

From the Imgur API documentation:

If you are signed in, this means you are uploading too many images in a short period of time.

If you are not signed in, then this means all the users of mac2imgur collectively are exceeding the rate limit (~1,250 uploads or ~12,500 requests per day).

---

@surajsharma Have you changed any of the system screencapture settings?

See

[2016-08-08 10:52] AleksandarMicovic commented on #86
@mileswd, thanks. This seems to have persisted for a week so far, and it doesn't seem to make a difference if I'm signed in or not. From the docs:

`We also limit each user (via their IP Address) for each application, this is to ensure that no single user is able to spam an application. This limit will simply stop the user from requesting more data for an hour.`

Given that this has been going on

[2016-08-10 02:49] cfillion opened #95 "Random crash on startup since updating to 4.0"
I'm getting this crash often when starting mac2imgur v4.0 (208):

[code]

[2016-08-10 19:31] cfillion commented on #95
[code]

[code]

[2016-08-13 03:44] surajsharma commented on #86
@mileswd running `defaults read com.apple.screencapture`
returns
`{
    type = png;
}`

[2016-08-14 10:44] kristinaD commented on #86
Since we are working in IT company and we take screenshots every working day from the same IP address  and we hit the limit, how long we have to wait so we don't experience this "issue"?

[2016-08-14 13:56] mileswd commented on #86
I'm not sure if mac2imgur is hitting the global client limit, since uploading has been working fine for me over the past week (both authenticated and anonymous).

@kristinaD It seems likely that you could be experiencing what @AleksandarMicovic found in the API docs?

There used to be a section on the Imgur API documentation, where it was possible to have an application whitelisted for "[heavy fre

[2016-08-14 14:05] kristinaD commented on #86
@mileswd
@AleksandarMicovic and I work in the same company :)
Please contact the Imgur API team, I hope they can "unblock" us :)
Thanks

[2016-08-14 14:08] mileswd commented on #86
@kristinaD Ah right - I didn't realise!

I'll shoot an email over to the Imgur API team ASAP 👍

[2016-08-14 14:09] kristinaD commented on #86
@mileswd  👍
Thank you very much

[2016-08-15 17:20] surajsharma commented on #86
@mileswd no it doesn't.

[2016-08-19 16:02] Shchvova commented on #71
Screengur
Snapgur

[2016-08-22 08:28] mrcasals commented on #95
@mileswd if this issue is solved, can you release a new version please?

Thank you!

[2016-08-22 10:55] mileswd commented on #95
@mrcasals Sorry, I forgot to reopen this.

I thought I had this fixed, since this crash appears to have a random element - every once in a while, the application launches fine.

I'm starting to think this is a Swift toolchain issue, rather than a mac2imgur one. The application runs fine on macOS 10.11 and 10.12, but crashes on 10.10 and 10.9:

10.10: `Invalid pointer dequeued from free list`
10.9:

[2016-08-22 11:02] mrcasals commented on #95
I don't know if it's useful, but if I reinstall the app then it boots perfectly with the config loaded (I upgraded from version 3). If I shut down the session and try to open the app without reinstalling it, it crashes.

[2016-08-22 12:44] andreiglingeanu opened #96 "Copy image URL, not imgur URL"
Is there a way to not copy the link to imgur, but rather the direct URL to the image itself?

[2016-08-22 12:49] mileswd commented on #96
Sorry, I'm not sure I understand what you mean.

By default, the direct link to the image (`i.imgur.com`) is copied to the clipboard.

[2016-08-22 14:06] andreiglingeanu commented on #96
Ah, I didn't tested it very carefully, it works fine. Sorry for bugging!

[2016-08-22 14:06] #96 closed

[2016-08-24 04:58] cbackas opened #97 "Authentication Required"
I updated to macOS Sierra beta last night and now I can't use mac2imgur. The error says "Imgur Upload Failed - Authentication Required". Any ideas?

[2016-08-24 10:07] mileswd commented on #97
Thanks for the report.

Have you tried signing out and signing back in again?

[2016-08-24 14:26] cbackas commented on #97
I tried that and it didn't work so I just closed the program so that I could take a screenshot at all. I just opened it again and it works fine now. Sorry for the trouble!

[2016-08-24 14:26] #97 closed

[2016-08-24 16:24] beck commented on #97
Also getting this error intermittently. Sign out / sign in does not resolve the issue, the app needs to be closed, reopened, then reauthenticated.

[2016-08-25 13:27] mileswd commented on #97
@beck If this issue is recurring, is mac2imgur emitting any errors in `Console.app`?

[2016-08-25 18:00] mileswd commented on #95
Just a quick update,

I think I have this issue resolved, could you please confirm by downloading and running this [development build](https://github.com/mileswd/mac2imgur/files/437718/mac2imgur.zip)?

[2016-08-25 20:40] cfillion commented on #95
Seems good so far! Thanks!

I restarted it about 30 times and it never crashed (while 4.0/208 would have crashed almost each time).

[2016-08-25 20:42] mileswd commented on #95
@cfillion Awesome, thanks for testing!

I'll push this out as an automatic update to everyone else soonish 👍

[2016-08-25 20:42] #95 closed

[2016-08-25 22:04] mileswd commented on #90
Notifications are currently used to convey important information, such as the reason why an upload failed.

Would this feature still be desirable if it allowed select important notifications to be displayed, but disallowed less important ones, such as "Imgur Upload Succeeded" etc?

[2016-08-25 22:34] kenzierocks commented on #97
I get this in Console:
[code]

[2016-08-26 13:32] cwhite92 opened #98 "Full screen capture"

[2016-08-26 13:32] #98 closed

[2016-08-30 17:32] Nelluk opened #99 "Attempt to connect to RealClearPolitics.com during app update"
Today I got an alert to update Mac2Imgur from version 4.0 (208). I allowed the update, but midway through I got an alert from Lil' Snitch that mac2imgur was attempting to connect to the server **images.rcp.realclearpolitics.com**.  I could not see a reason why it would do this, so I denied the connection and the app update failed.

[Here's a screenshot to the Lil' Snitch record](https://i.imgur.co

[2016-08-30 18:09] mileswd commented on #99
We host our [releases](https://github.com/mileswd/mac2imgur/releases) using GitHub releases. In turn, GitHub uses Amazon S3:

[code]

If we lookup `github-cloud.s3.amazonaws.com`, we get the following:
[code]

If we lookup `images.rcp.realclearpolitics.com`, it turns out that RealClearPolitics (who I have never heard of before today) also use Amazon S3 to host their images.
[code]

Since both doma

[2016-08-30 18:12] mileswd commented on #99
After a quick Google search, it appears that this issue affects other applications too:

![](https://i.imgur.com/xwUIxaw.png)

(From https://www.facebook.com/groups/framerjs/548887898571619/)

[2016-09-01 19:10] AndreasBackx commented on #90
@mileswd that is perhaps desired. I can see why people want to turn off the succeeded notification message, I might turn it off myself.

[2016-09-02 23:57] mileswd commented on #97
Unfortunately I haven't been able to replicate this myself - if anyone can find exact steps to reproduce the issue, it'd be greatly appreciated.

[2016-09-04 16:50] pauloschilling commented on #86
I'm receiving the "**Daily client requests exceeded**" notification when I try to upload an image or to sign in through the menubar.

When I try to sign in, imgur's website sends the "mac2imgur://?code=xxxxxx" callback, but the same notification above is shown.

[2016-09-04 17:40] Jofkos opened #100 "Daily client requests exceeded"
![The notification](http://i.imgur.com/GS39rEZ.png)

since today I get a "daily client requests exceeded" notification.
But, as far as documented [here](https://api.imgur.com/#limits), the limit is at

I don't think i uploaded 1'250 screenshots today 😮

Is there something I'm doing wrong or is mac2imgur sending too much requests?

[2016-09-04 18:10] RedPlanetofMars commented on #100
I am having the same problem... Joined github to address this issue, glad to know that it's not my end.

[2016-09-04 18:19] iCHAIT commented on #100
Facing the same issue :(

[2016-09-04 19:06] mileswd commented on #100
My apologies about this issue - we've hit the Imgur API rate limit, which prevents the combined usage of all users from exceeding 12,500 requests (or 1,250 uploads) per day.

This limit resets every day and until it resets, there's little we can do.

I sent Imgur an email about this issue on August 14th (in relation to #86) but unfortunately they haven't replied yet.

[2016-09-04 19:19] mileswd commented on #86
@pauloschilling Tracking this in #100

[2016-09-04 21:17] EduardoRT commented on #100
What about adding an easy way to modify the API key so we could use our own?

[2016-09-05 08:37] tommiv commented on #100
I always thought that api limit is depending on user api token, not an application token. Since I'm obviously wrong, it would be great to get an ability to change the app token manually.

[2016-09-05 10:00] s1lviu commented on #100
Same issue here.
I tought like @tommiv and I agree with that.

[2016-09-05 10:44] mated77 commented on #100
Same Problem here. @mileswd Write them another Mail. I think many people are happy like me with the awesome tool you create. But if i can´t upload now quickly my Screens i have to go away. Sadly away from this tool but in first line away from Imgur. Hope they fix it soon. I only read that the commercial API isn´t limited. And as i read it is not possible to get a free Api for every User cause you

[2016-09-05 10:57] s1lviu commented on #100
The qick hackish solution is to hex-edit the app, find the clientID and clientSecret and replace with yours.
Thanks goes to @g3x0 for the idea.

[2016-09-05 11:03] g3x0 commented on #100
Thanks @s1lviu

Followup instructions:

0. Create your own imgur app, use mac2imgur:// as callback URL. Save client ID and client secret.
1. Use something like Hex Fiend to edit /Applications/mac2imgur.app/Contents/MacOS/mac2imgur
2. Search for text: "5867856c9027819" and replace with your client id.
3. Search for text: "7c2a63097cbb0f10f260291aab497be458388a64" and replace with your client secret

[2016-09-05 11:05] tommiv commented on #100
Will this work? AFAIK mac os uses some kind of package signature and app will fail to start if it has checksum error. I must to admit I don't know if this feature optional, but when I tried to modify some files in i-dont-remember-which app it broke.

[2016-09-05 11:07] g3x0 commented on #100
@tommiv https://i.imgur.com/EjiHM8X.png

It works.

[2016-09-05 12:05] mated77 commented on #100
Works like a charm ;-) Thank you...

[2016-09-05 12:57] vaidab commented on #100
I have the same issue.

[2016-09-05 14:50] cwhite92 commented on #100
@g3x0's instructions work a charm. The best solution to this is to allow us to set our own client ID and secret in the app I think.

[2016-09-05 15:10] vaidab commented on #100
Any way to make it work for the non coders out here?

[2016-09-05 15:16] tommiv commented on #100
It's not that hard, instructions from @g3x0 works great. HexFiend allows you to replace strings in binary as if it was txt document. I believe the only option to resolve this without effort is to wait for ban to expire or to wait for app devs to introduce api key option.

[2016-09-05 15:37] Jofkos commented on #100
That you @g3x0, nice idea 😄

[2016-09-05 16:50] mlebkowski commented on #100
This is a simple Terminal command to replace the values for your own:

[code]

Just replace the `CLIENT_ID` and `CLIENET_SECRET` with your values. Anyone can confirm?

[2016-09-05 21:51] mileswd commented on #100
@mated77 Thanks for the suggestion -- I've sent Imgur another email, this time I got an automated reply saying that an issue ticket has been created, so hopefully I'll get a response this time!

I'm hoping that since mac2imgur is a free/non-profit open source application, they will allow us something similar to an option they used to offer, called "Heavy Free Usage" - http://web.archive.org/web/20

[2016-09-06 06:15] vaidab commented on #100
@mlebkowski  I get sed: RE error: illegal byte sequence
sed -i ".bak" -e s/5867856c9027819/fd25.../ -e s/7c2a63097cbb0f10f260291aab497be458388a64/bb71a8ffbfb1c20c09e54ab5642b.../ /Applications/mac2imgur.app/Contents/MacOS/mac2imgur

[2016-09-12 06:51] jlsjonas commented on #100
@mileswd I guess that an alternative (in case no timely reply comes, since I'm also struck by the "banhammer" now) would be to fork out, having "multiple apps", potentially (hopefully) being allowed to somehow embed them as an option. Although imgur should face it that it'll only cost them more resources in the long run by not handing a "heavy free use" key for mac2imgur

[2016-09-12 11:04] mileswd commented on #100
For transparency, here is the email exchanges between myself and Imgur API support:

Initial email:

Their response:

It's a shame that they don't offer whitelisting anymore, because using alternative client IDs would still mean the application has the same amount of API usage / uploads.

We can't really complain however, because this is a free service which Imgur aren't obligated to provide, so t

[2016-09-12 11:14] jlsjonas commented on #100
What I would suggest to avoid each making an app is maybe using a microservice to "hand out" said id's & secrets; having a couple contributors create a set.
this would also prevent issues with non-tech users (a new -preferably unexposed- pair should obviously be hardcoded in case the microservice is down)

the microservice should simply track how many installations got the key, and disable further

[2016-09-12 11:16] tommiv commented on #100
I would prefer to just set up my own app id. But your idea is cool indeed, especially for the "non-tech" users.

[2016-09-12 11:16] cwhite92 commented on #100
I think the upload limit for an application is more than enough for an individual user. If an individual user hits the upload limit on their own application, they're definitely doing something out of the ordinary.

[2016-09-12 11:19] jlsjonas commented on #100
@cwhite92 an individual user can't possibly use up one app's limits, since their personal limits are 1/25th of the app's limit, which is also why I suggested the microservice to manage those keys (again, mainly thinking about non-tech users)

[2016-09-12 11:20] barrierfreeman commented on #100
Non-tech user checking in.

Would just like to say thanks to Miles for looking at a solution so us luddites can continue to use the app.

[2016-09-12 11:25] jlsjonas commented on #100
As to this issue specifically, the app should prevent further attempts once this message came in, although from what I've read it wouldn't really matter: hitting the limit 5 times in a month would prevent further access.
maybe check for limits often enough? (since limit checks don't count towards the limit)
talking of which... these could be used as an indication regarding "popularity" of each key

[2016-09-12 11:27] g3x0 commented on #100
You can combine all the suggestions and provide a complete solution in the following form:

1. Keep using the main API keys as default.
2. Allow for using own API keys per client and suggest this in the following updates so you can encourage users to actually do it before you hit the API limit again.
3. Add a checkbox below the own API keys feature which states that they're enabling you to use the

[2016-09-12 11:29] tommiv commented on #100
4. Wouldn't it be easier to "load balance" the keys in a way http-servers does it (round-robin or something more sophisticated)?

[2016-09-12 11:37] g3x0 commented on #100
Yeah, but you need a few API keys for that, not just say 3, because the reason some users will actually set their own API keys is to never hit that limit anymore in their personal use of the app. So if you load balance and hit the limit on some of the users' API keys, you'll have some unsatisfied users.

That's why I think you should use the microservice only when the main API fails. But, again, y

[2016-09-12 11:49] barrierfreeman commented on #100
As an aside, I followed @g3x0 steps for a temporary fix. All went fine until after I saved the binary in Hex Fiend, but now mac2imgur won't run.

Guess I'll just wait till the professionals get it sorted.

[2016-09-12 12:28] jlsjonas commented on #100
@g3x0 great idea regarding "share with community",
though (also @tommiv ) the reason I didn't suggest "keep using the main" is because users are required to authenticate TO an app... thus using round robin or main-by-default would require users to re-authenticate as limits are reached, which would also cause a lot of unnecessary extra calls (though should not affect the limits, in theory)

[2016-09-12 12:32] g3x0 commented on #100
@jlsjonas You're right, I forgot about the authentication process. Although, the limits aren't reached that often. I've been using this app since January and this is the first time it happened, so we might be cool simply ignoring it this time. Also, I guess asking to re-authenticate is way better than just having to sit out for a day until the limit gets reset.

[2016-09-12 12:33] jlsjonas commented on #100
@g3x0 yes, but the core issue is just that the app is becoming more popular, thus we can't expect this to be a temporary thing.

[2016-09-12 12:36] sn0w commented on #100
Maybe we could look into the code of Sharex ([getsharex.com]()).
I -never- had an issue like this with their app so maybe they are using the API differently / more efficient.

[2016-09-12 12:40] barrierfreeman commented on #100
Sierra has broken a few of the other apps, like img.urls, so I guess there is going to be an influx of new users coming up.

[2016-09-12 14:02] ahmadawais commented on #100
@g3x0 I followed all the steps but it says authentication required. I have authenticated the app several times. What's with that 🔢
<img width="335" alt="screen shot 2016-09-12 at 7 01 26 pm" src="https://cloud.githubusercontent.com/assets/960133/18438551/58d74770-791b-11e6-829b-1b439f56f5c2.png">

[2016-09-12 14:25] jlsjonas commented on #100
@mileswd do we wait for an official reply to start preparations?
given what @barrier mentioned it could seem as if mac2imgur stopped working too, while it's only a rate limit issue

[2016-09-12 14:33] jlsjonas opened #101 "Upload from clipboard"
My current workflow with mac2imgur is making a screenshot to desktop to give me a prompt to upload (and delete local), and this works great most of the time.
However it would be even better if the context menu had an "upload from clipboard" available (only if the current clipboard date is of the correct type, ideally) in case I clipped to my clipboard but decide I want that image uploaded anyway

[2016-09-12 14:37] jlsjonas opened #102 "Do not remove screenshots unless uploaded succesfully"
Given the recent issues ( #100 ) I've noticed my screenshots would still get deleted, physically removing the last available copy. delete on upload should only delete on successfull upload

[2016-09-12 15:26] mileswd commented on #102
I agree - this used to be the case in our previous implementation, but since we moved to ImgurSession this was no longer possible. I'm happy to revisit this issue after we get a solution to #100.

Also, the screenshot is not deleted, but moved to `Trash` instead.

[2016-09-12 15:55] jlsjonas commented on #102
*checks trash* o.O
well as was already suggested in #100 it might be time to move away from imgurSession

[2016-09-12 17:26] jaredmfier commented on #100
Hm, for some reason after using hex fiend to edit in my own api info, the app refuses to open. Only seems to open when I replace the application with a fresh one.

[2016-09-12 18:20] joshfriend commented on #100
@vaidab I had to set a few environment variables to get the "illegal byte sequence" error to go away:

[code]

[2016-09-12 20:06] coryshaw1 commented on #100
I had to `unset LANG` to get @mlebkowski's method to work. But everything works great now!

Here's my process:

 1) Get the rate limit error
 2) Quit Mac2Imgur
 3) Create new Imgur API credentials here: https://api.imgur.com/oauth2/addclient
   - **Application Name**: Anything
   - **Check**: OAuth 2 authorization with a callback URL
   - **Callback URL**: mac2imgur://
   - **Email**: YourEmail

[2016-09-12 22:12] siddharthlatest commented on #100
@coryshaw1 that worked like a charm.

[2016-09-13 04:18] jaredmfier commented on #100
@coryshaw1 Not sure if you know the answer to this, but when trying to log in after replacing the cient ID/client secret with the commands you posted, after pressing allow on the imgur api site I get `{"data":{"error":"Unauthorized","request":"\/oauth2\/authorize","method":"POST"},"success":false,"status":403}`

[2016-09-13 04:51] ahmadawais commented on #100
@coryshaw1 Didn't work. Step 4 gives this error
[code]

How does one reauthenticate? I did change the ID with Hex Fiend.

[2016-09-13 07:21] sn0w commented on #100
I managed to get it to work without changing locals.

[code]

After the replacement mac2imgur starts and opens your browser where you have to re-authenticate again.

[2016-09-13 12:49] coryshaw1 commented on #100
@ahmadawais Try changing your sed terminal command to use `s/` instead of `sh/` on your searches:

[code]

[2016-09-17 16:38] ahmadawais commented on #100
Thanks, @sn0w @coryshaw1  I downloaded and installed a new Mac2Imgur and then followed @sn0w 's steps and its still working.

[2016-09-20 19:43] AustinPaquette commented on #100
@sn0w thank for you for saving me the time to write this out myself. Appreciate it. 😄

[2016-09-20 19:55] AustinPaquette opened #103 "Daily client requests exceeded - [Fix]"
I'm just making this here to help anyone who googles the issue, finds this repo and then doesn't want to sift through the other issue looking for context as found in #100

---

## Full credits to @sn0w [here](https://github.com/mileswd/mac2imgur/issues/100#issuecomment-246596977)

- [x] Get the rate limit error
- [x] Quit Mac2Imgur
- [x] Create new Imgur API credentials at https://api.imgur.com/oa

[2016-09-20 21:31] Daniel131313 commented on #103
I am totally new to anything programming and am having the same exceeding the daily limit issue. I had no trouble finding my new Client_ID and Client_secret but how do I find and enter them into the terminal center? I tried copying and pasting everything listed above with my Client ID and Client secret ID replacing the numbers but it wont work still

[2016-09-20 21:48] Daniel131313 opened #104 "Daily Client Request exceeded"
Hey all,

I'm in med school and have come to depend on the imgur screenshots heavily for my studies. For the life of me I cannot get the imgur2mac uploader to work anymore. Whenever I take a screen shot it says "daily client request exceeded". I know others have had similar issues and resolved them. I attempted to follow their trouble shooting steps but I still get the same error upon reopening im

[2016-09-20 22:02] mileswd commented on #100
Hey all,

Still working on a conclusive solution, but in the meantime here's a version of mac2imgur you can use:

[mac2imgur.zip](https://github.com/mileswd/mac2imgur/files/483689/mac2imgur.zip)

(It's no different from the latest version, except with different client ID and client secret keys)

[2016-09-20 22:03] mileswd commented on #104
Duplicate of #100

(Take a look at #100 for a solution!)

[2016-09-20 22:03] #104 closed

[2016-09-20 22:34] tuck182 commented on #103
Don't replace the numbers with your own, replace the "CLIENT_ID" and "CLIENT_SECRET" strings.  So if your client id is `12345`, you'd do:

[code]

[2016-09-20 22:51] Daniel131313 commented on #100
Steps 1-5 worked for me, pain in the ass but I'm super grateful to all involved here and at imgur. If your having persistent trouble I would read thread 103 as well. Thanks again mileswd and others!

[2016-09-21 17:46] mileswd commented on #100
Great news - looks like this is an Imgur issue, which is now fixed! 🎉

Received this from Imgur:

[2016-09-21 17:46] #100 closed

[2016-09-21 17:47] mileswd commented on #103
See https://github.com/mileswd/mac2imgur/issues/100#issuecomment-248688560

[2016-09-21 17:47] #103 closed

[2016-09-21 17:51] AustinPaquette commented on #100
@mileswd Is there anything problematic about those whom have applied the workarounds?

[2016-09-21 17:57] mileswd commented on #100
@AustinPaquette There shouldn't be any negative effects caused by the workaround. As it's the application binary that has been modified, the workaround will be reversed whenever the next update for mac2imgur is released anyway.

[2016-09-21 21:50] Daniel131313 commented on #104
Do you have a link to accept donations? Thanks for the app

________________________________
From: Miles <notifications@github.com>
Sent: Tuesday, September 20, 2016 4:03 PM
To: mileswd/mac2imgur
Cc: Daniel131313; Author
Subject: Re: [mileswd/mac2imgur] Daily Client Request exceeded (#104)

Duplicate of #100<https://github.com/mileswd/mac2imgur/issues/100>

(Take a look at #100<https://github.com/

[2016-09-21 23:53] ahmadawais commented on #104
@Daniel131313 No need to be sorry about anything. Just take a look at the solutions offered. [This](https://github.com/mileswd/mac2imgur/issues/100#issuecomment-246596977) one helped me. Before you follow it, just remove your app delete it from the Applications folder. Download a new version from [here](https://github.com/mileswd/mac2imgur/releases/tag/b219).

[2016-09-23 15:13] sn0w commented on #75
Any updates on this?
I'm currently using Skitch to draw/censor my images.
Would be awesome if mac2imgur gets this feature.

[2016-09-23 20:51] chrisjohnson opened #105 "Uploading from retina downscale option - no happy medium?"
I'm uploading from my retina display, and I either get this:

Without downscale: https://i.imgur.com/edPuoeF.png
With downscale: https://i.imgur.com/MktI4FJ.png

The first, when opened back up, is double sized on all displays that I try on. The second one is blurry (is there no way to downscale without blurring it?), but the correct size.

Am I doing something wrong? Is this just something all ret

[2016-09-24 11:03] ahmadawais commented on #105
@chrisjohnson second one should not be blurry for those without retina screens.

[2016-09-28 13:16] TiuTalk opened #106 "Not uploading screenshots automaticaly on Sierra"
I'm using the latest version, on Sierra, and mac2imgur is not uploading Screenshots automaticaly from the `~/Desktop` folder.

I've already checked the `defaults` and they're ok.

https://i.imgur.com/9a0Zonr.png

I need to click on **Upload images...** and select the files manually for it to upload. :/

[2016-09-28 21:10] dannymichel opened #107 "Constant Authentication Required"
The new version requires that you quit and reopen the application every restart or it fails to upload because you need to re-authenticate.

[2016-10-17 13:18] mated77 commented on #106
For me it works fine with Sierra. You checked all settings? Maybe try Tinkertool https://www.macupdate.com/app/mac/5721/tinkertool

[2016-10-24 23:04] chrisjohnson commented on #105
Right, and I'm on retina and it's showing as blurry for me, I was wondering how we can get it to behave nicely for everybody.

[2016-10-30 09:25] Rediwed commented on #107
I'm having the same issue. I constantly have to re-authenticate. The app is pretty much useless now. @dannymichel would you perhaps have the old version mirrored?

[2016-10-30 19:50] mileswd commented on #107
I'm sorry to hear that! Unfortunately I haven't been able to replicate this myself at all - but if you can find a method of consistently replicating this behaviour, it'd help me find out what's going on.

(This appears to be a duplicate of #97)

[2016-11-03 20:37] Jarvvski commented on #107
I get this too :(

Not sure what is causing it

[2016-11-25 20:23] eggplantsplz opened #108 "Can't find albums"
Does the album have to be publically viewable? Have a hidden album in my imgur account - mac2imgur can't seem to locate it as a save-to filepath in the app, even after clicking 'reload albums'

[2016-11-30 17:47] incandescentman opened #109 "Imgur Upload Failed: Authorization required"
I'm getting `Imgur Upload Failed: Authorization required`

When I try to sign out and reauthorize, I get taken here:
https://api.imgur.com/oauth2/authorize?response_type=code&client_id=##########

(I redacted my Imgur ID)
with this message:

    {"data":
     {"error":"Unauthorized","request":"\/oauth2\/authorize","method":"POST"},"success":false,"status":403}

[2016-11-30 17:57] incandescentman commented on #109
Tried again to log in and it worked this time.

[2016-11-30 17:57] #109 closed

[2016-12-08 12:30] yakatka opened #110 "Imgur upload failed since yesterday"
Are there some problems with uploading screeshots right now?

[2016-12-14 12:23] yakatka commented on #110
@mileswd ?

[2016-12-14 13:03] AlecRust commented on #110
@yakatka provide more details? What's the error?

[2016-12-14 13:14] yakatka commented on #110
Imgur upload failed
Couldn't process upload

I tried restarting my laptop and also I reinstalled the app
no help

[2016-12-14 13:29] AlecRust commented on #110
Try:
1. Sign out of Imgur within the application
2. Quit the application
3. Open the application
4. Re-authenticate with Imgur

[2016-12-14 13:37] yakatka commented on #110
Just did all the steps, still Imgur Upload Failed

[2016-12-14 13:42] mikeushakov commented on #110
Have the same issue.
Did all the steps five times or more during last week and failed.
Running mac2imgur El Capitan, if that helps.

[2016-12-14 13:43] yakatka commented on #110
I've got Sierra

[2016-12-18 16:16] haphan commented on #110
Posting `console` log here, hope this helps developer in troubleshooting

[code]

[2016-12-21 10:36] joren commented on #108
I had the same with an empty album, but once I added one image manually it did find it after clicking the reload menu item.

[2016-12-21 10:53] joren opened #111 "All images are getting uploaded twice"
I also get two notification, one for each upload.

For example this http://i.imgur.com/xycSPVS.jpg and this http://i.imgur.com/A0p8FB6.jpg image.
When I enable confirmation it also ask me twice to upload it.

[2016-12-28 14:05] yakatka commented on #110
New details:
The software works perfectly fine if I am not signed in to imgur account, the moment I sign out it begins working correctly.

[2016-12-29 04:00] haphan commented on #110
It works for me again today (authenticated mode).

What I did was login to imgur.com and get my email address verified. After that it works fine again. Perhaps a policy was changed from imgur.

@yakatka  Can you do check if this is your case also and report back. Thanks

[2016-12-29 15:41] mikeushakov commented on #110
@haphan I have the same problem as @yakatka - I'm verified on imgur (used to be their paid user before) and the problem exists. Once I sign out from imgur on mac2imgur, it works well; once I log in again, I still have the same problem as described above.

[2016-12-30 02:57] haphan commented on #110
@mikeushakov Can you try to upload image via imgur web interface and let me know if it works or not.

[2016-12-30 12:47] mikeushakov commented on #110
@haphan whoa, you are correct - it doesn't work on imgur side. I sent a report to them via contact support form.

[2017-01-01 12:42] haphan commented on #110
thank you @mikeushakov Please report back once you got reply from imgur

[2017-01-02 14:39] konart commented on #106
Same problem here. No autoupload in Sierra.

[2017-01-04 20:57] gitguys commented on #111
Are you uploading with or without account info?  I'm uploading without being signed into imgur and it's working without that issue when I drag-n-drop images to the menubar icon.  I'm using Sierra 10.12.2, BTW.

[2017-01-06 13:30] yakatka commented on #110
The problem was in e-mail domain I am using for imgur (yandex.ru), once I changed it, everything works correctly.

[2017-01-06 13:56] mikeushakov commented on #110
@haphan I've got the same issue as @yakatka - I spoke to imgur, they said that they don't support the Yandex (largest Russian e-mail provider) domains and they asked to change it. Now it works.

[2017-01-24 00:38] scalp42 commented on #97
Can confirm, will work for couple days then you'll need to log out / log in again.

[2017-01-25 08:20] yeled commented on #106
Is there a way to debug this?

[2017-01-26 19:23] chrisjohnson opened #113 "The access token provided is invalid"
I have been getting this regularly for the last few months. Removing and reinstalling mac2imgur seems to fix it temporarily but then it comes back, and once it happens, it's on every upload. I can upload to imgur.com just fine. I know the API key stuff changed a while back but it seems like it's not fully fixed yet

[2017-01-26 19:24] chrisjohnson commented on #113
<img width="360" alt="screen shot 2017-01-26 at 2 22 11 pm" src="https://cloud.githubusercontent.com/assets/178144/22346740/2868d202-e3d3-11e6-8f89-7e2ac1788014.png">

[2017-01-31 07:57] jt3k commented on #113
I get the following message when I mac2imgur on two computers at the same time.

when I sign-in on the first computer, the second stops working.
And when I sign-in on the second, the first computer also stops working..

I don't know how to solve this problem.

[2017-02-12 02:09] mp607 commented on #113
mac2imgur on my only one mac. This problem +1

[2017-02-12 02:13] chrisjohnson commented on #113
I've only got this installed on one mac as well, and I don't use any other imgur API software whatsoever. So this is definitely not a multi-mac or multi-login issue, at least not in my case.

[2017-02-13 21:45] mcescalante commented on #113
I have had this issue pop up 2 times in the last week. Both times I fixed it by logging out and back in, but didn't investigate further

[2017-02-14 19:01] ahmadawais opened #114 "Custom Domain Mapping"
Is there a way for us to map a custom short URL to the screenshots? I'd love that feature.

[2017-02-15 10:39] mlebkowski commented on #113
Yeah, using the same account on two computers is a PITA. Can I manually transfer the token from one machine to another as a temporary fix? Is there any option to store the token on dropbox?

[2017-02-22 18:25] sparr opened #115 "silently failing for a few weeks"
mac2imgur has completely stopped uploading, or apparently even attempting to, for me.

When I start the program, the (i) icon appears in the menu bar. It changes to (↑) for about half a second then back to (i).

When I take a screenshot, nothing happens.

Clicking the (i) then Upload Images takes me to my screenshots directory, showing all my screenshots including the one I just took.

Preferences

[2017-02-22 18:26] sparr opened #116 "Can't unselect album"
While troubleshooting another issue I selected an album to upload to. I cannot find a way to unselect it.

[2017-03-01 07:56] jeremybras commented on #111
Same here, Sierra, logged in on imgur, and it's uploading twice.

[2017-03-02 06:13] bhargavjoshi commented on #113
This issue happens for me as well,

I need to sign out of the account and the sign in again, and it solves the problem.

So it looks like token is getting expired.

It would be nice that if token is expired the app logs us out and redirect to the login page.

[2017-03-12 08:31] ohdeerdog opened #117 "Crash when dragging image from browser to menubar"
The crashing in itself is an issue, but this is more missing functionality than anything

[2017-03-12 09:22] ohdeerdog commented on #117
Crashed the first time, but I can see it's implemented. Nevermind.

[2017-03-12 09:22] #117 closed

[2017-03-22 09:13] anacrolix commented on #115
This happens for me too. First time trying mac2imgur.

[2017-03-23 12:43] iprishvin commented on #107
@mileswd Hi. Could you tell me what can I do to find some logs about this issue. It makes me **sign in every time I restart or wake up** my mac. Also lot of my mates have same issue with mac2imgur and just can't use it. Error looks like this: https://goo.gl/Xw2Xly

[2017-03-26 12:45] Dreamisdead commented on #75
Really need this feature 👍

[2017-03-29 23:20] kristynrb commented on #113
I'm getting this same issue. Sometimes quitting and opening solves it. Sometimes logging out and then logging back in helps. Right now, I can't get it to work at all. I keep receiving the same message that "The access token provided is invalid".

[2017-04-10 08:45] benoitemile commented on #113
hi, I have this issue too, every few days, I have to logout/login; could you please fix ? Is there any time-related-permission when the token is granted ?

[2017-04-12 14:28] mileswd commented on #111
This should be resolved in the latest update. Thanks for reporting. 👍

[2017-04-12 14:28] #111 closed

[2017-04-23 08:59] gitguys opened #118 "Privacy Policy"
What's the privacy policy for this app?  Is any user data kept at all?

[2017-05-18 00:16] chrisjohnson commented on #113
Issue still happening regularly here, the app is basically not usable sadly

[2017-05-20 02:04] loopernow commented on #107
Here is the solution I found (with backstory to explain what the issue is): Sign in to mac2imgur with your imgur username and password, and then give permission on imgur to allow mac2imgur to (whatever it's asking for) using username and password also.

Backstory: I had never used imgur prior to downloading and installing this app. So when I signed in to imgur at first, I used Google+ because it w

[2017-06-02 13:21] luckman212 commented on #113
Same problem here. Anyone got a way to fix / debug this?

[2017-06-13 16:52] beck commented on #97
What I see in the console:
[code]

Could it be related to using mac2imgur on separate machines?  ¯\_(ツ)_/¯

There are a lot of duplicates to this ticket, suggest reopening this as canonical and closing all others.

[2017-06-13 16:54] beck commented on #107
Sounds like duplicate of: https://github.com/mileswd/mac2imgur/issues/97

[2017-06-13 16:56] beck commented on #110
Looks like a duplicate of #97

[2017-06-18 16:58] SmeXhy opened #119 "Custom keyboard shortcuts?"
Is there any option?

[2017-07-07 23:15] mileswd commented on #118
The only data mac2imgur stores is kept on your local machine (preferences etc) - however the application does use the following services:
- Imgur - [Privacy Policy](http://imgur.com/privacy)
- Fabric (Crashlytics) - [Privacy Policy](https://try.crashlytics.com/terms/privacy-policy.pdf)
- Fabric (Answers) - [Privacy Policy](https://answers.io/img/onepager/privacy.pdf)

Hope this helps 👍

[2017-07-07 23:15] #118 closed

[2017-07-07 23:15] mileswd commented on #119
The application uses the built in screenshot functionality of macOS, so you can change the default screenshot keyboard shortcuts from `System Preferences`:

![screen shot 2017-07-08 at 00 02 23](https://user-images.githubusercontent.com/5622554/27980046-92880788-6372-11e7-8d54-ed29c0593561.png)

[2017-07-07 23:15] #119 closed

[2017-07-11 23:46] AlexD3v opened #121 "mac2imgur doesn't detect screenshots if Spotlight is disabled"
If spotlight is disabled on the drive where screenshots are saved, getting the extended attributes fails and it returns here: https://github.com/mileswd/mac2imgur/blob/master/mac2imgur/ScreenshotMonitor.swift#L128

I guess a workaround would be to check if the name doesn't contain the value at "com.apple.screencapture.name" and "com.apple.screencapture.type" if the metadata can't be retrieved.

Ex

[2017-08-28 00:13] gitguys opened #122 "Request: Please add SEARCH feature"
Would save a lot of time if I was able to search the text of my 'Recent Uploads' history.  I've noticed that I can open the menu and start typing a few first letters to have some results highlighted, but an actually search field would be much more useful.

[2017-08-29 20:53] Jarvvski commented on #90
Guessing this is dead then...

[2017-09-25 02:11] sabronet opened #123 "URGENT suggestion to improve mac2imgur"
Hi, first of all thank fur such a nice software for mac, I am writing you to suggest you a very useful feature for mac2imgur, wich is: including the option to also upload images to pomf.cat
(they also offer a API, for easy uploading wich you cn find in pomf.cat/tools.php)

Some of the reason why Including this would be a great help are:
- your users would have a second server to upload their image